body {
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100vh;
}

.page > * {
  flex: 1;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  padding: 50px 0px;
}

.title > img {
  width: 400px;
  height: 170px;
}

.links {
  display: flex;
  justify-content: row;
  gap: 10px;
}

.dark {
  background-color: #1f2937;
  color: #f9faf8
}

.main {
  font-size: 48px;
}

.big {
  font-weight: 1000;
}

.bold {
  font-weight: 700;
}

.secondary {
  font-size: 18px;
  color: #e5e7eb;
  padding: 10px;
}

.logo {
  font-size: 24px;
}

button, .blue-background {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 8px;
}

button {
  font-weight: bold;
  border: solid #1f2937;
  width: 100px;
  height: 32px;
}

.white-bd {
  border: 1px solid white;
}

.lower-main {
  font-size: 36px;
  color: #1f2937;
}

.quote {
  padding: 60px 0px;
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.quote-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 60%;
}

.call-to-action > *{
  margin: 1px 0px;
}

.quote-text {
  font-style: italic;
}

.credit {
  align-self: end;
  font-weight: 700;
}

.header {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.list {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}

.list-container {
  display: flex;
  margin: 20px 0 60px 0;
  gap: 20px;
}

.img-and-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 150px;
}

.img-and-text > img {
  width: 128px;
  height: 128px;
}

.footer {
  text-align: center;
}

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px;
}

.blue-background {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 200px;
}

.img-and-text > div {
  text-align: center;
}
